body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10vh;
}
.container {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 50px;
  flex-direction: column;
}

.statsContainer {
  border: 1px black solid;
  width: 300px;
  padding-top: 24px;
  border-radius: 4px;
}
#stats {
  margin-left: 24px;
}
h2 {
  margin-left: 24px;
}

h3,
h1 {
  margin: 0;
}
button {
  margin-top: 0px;
  padding: 20px;
  width: 300px;
  border-radius: 0 0 4px 4px;
  border: 0;
  border-top: 1px black solid;
  background-color: rgb(0, 66, 153);
  font-size: 18px;
  color: white;
}
button:hover,
button:active,
button:focus {
  border-radius: 0 0 4px 4px;
  border: 0;
  border-top: 1px black solid;
  outline: none;
}

button:hover {
  background-color: tomato;
  cursor: pointer;
}
.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

img {
  width: 200px;
}
